<nav class="navbar navbar-expand-lg kmz-navbar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2 kmz-brand" data-kmz-href="index.html" href="#">
      <img class="kmz-logo" data-kmz-src="assets/img/newx/logo_kme_dios_tana.png" src="" alt="Logo KMZ">
      <div class="kmz-brand-text">
        <div class="kmz-brand-title">KMZ Katolika Mpitendry Zava-maneno</div>
        <div class="kmz-brand-sub">Diosezin'Antananarivo</div>
      </div>
    </a>

    <button class="navbar-toggler kmz-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#kmzNav"
      aria-controls="kmzNav" aria-expanded="false" aria-label="Menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="kmzNav">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
        <li class="nav-item">
          <a class="nav-link kmz-navlink" data-kmz-page="index" data-kmz-href="index.html" href="#">
            <i class="bi bi-house-door me-1"></i>Fandraisana
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link kmz-navlink" data-kmz-page="recensement" data-kmz-href="src/pages/recensement/recensement.html" href="#">
            <i class="bi bi-people me-1"></i>Rejistra
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link kmz-navlink" data-kmz-page="apropos" data-kmz-href="src/pages/apropos/apropos.html" href="#">
            <i class="bi bi-info-circle me-1"></i>Momba
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link kmz-navlink" data-kmz-page="contact" data-kmz-href="src/pages/contact/contact.html" href="#">
            <i class="bi bi-envelope me-1"></i>Contact
          </a>
        </li>

        <li class="nav-item ms-lg-2">
          <a class="btn btn-outline-dark kmz-logout" href="#" onclick="window.close(); return false;" title="Hikatona">
            <i class="bi bi-box-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
